# fly.toml file generated for blessed-rs on 2022-05-01T19:35:32+01:00

app = "blessed-rs"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
HOST = "0.0.0.0"
PORT = 3333
RUST_LOG = "debug"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 3333
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
