{% extends "base.html" %}
{% import "macros/toc.html" as toc %}
{% import "macros/crate_table.html" as crate_table %}
{% block title %}Crate List{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block main %}

<div class="hflex">

  <!-- Table of contents -->
  {{ toc::left_sidebar(sections=toc_sections) }}

  <!-- Main page content -->
  <div id="content">

<!--     <p class="introduction">
      Many programming langauges (such as Python and Go) take a "kitchen sink" approach to their standard libraries, including functionality
      like regular expressions, random number generation, serialization (JSON, XML, etc), and HTTP clients and servers directly in the stdlib.
    </p> -->

    <h3>What is blessed.rs?</h3>
    <p class="introduction">
      Compared to other programming languages such as Python and Go, Rust's standard library is very small, including only core data structures in the standard library with all other functionality farmed out to 3rd party ecosystem crates, and a common complaint from new Rust developers is that they don't know where to start: which crates they ought to use and which crates they ought to trust. This list attempts to answer those questions.
    </p>

    <p class="introduction">
      See also <a href="https://lib.rs">lib.rs</a> which takes a more automated approach (ordering crates by number of downloads) and also has an excellent search function.
    </p>

    {% for group in crate_groups %}
    <section data-toc-section id="section-{{ group.slug }}">
      <h3>{{ group.name }}</h3>
      <p class="group-description">{% if group.description %}{{ group.description | safe }}{% endif %}</p>

      {% if group.purposes %}
        {{ crate_table::crate_table(purposes=group.purposes) }}
      {% endif %}

      {% for subgroup in group.subgroups %}
        <section data-toc-section id="section-{{ group.slug }}-subsection-{{ subgroup.slug }}">
          <h4>{{ subgroup.name }}</h4>
          <p class="group-description">{% if subgroup.description %}{{ subgroup.description | safe }}{% endif %}</p>
          {{ crate_table::crate_table(purposes=subgroup.purposes) }}
        </section>
      {% endfor %}
    </section>
    {% endfor %}
  </div>
</div>

{% endblock main %}
