{% extends "base.html" %}
{% block title %}Crate List{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block main %}

<div class="hflex">

  <!-- Table of contents -->
  <div id="left-sidebar">
    <div class="toc">
      <h3>Sections</h3>
      <ul>
        {% for group in crate_groups %}
          <li data-toc-link="section-{{ group.slug }}"><a href="#section-{{ group.slug }}">{{ group.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Main page content -->
  <div id="content">
    {% for group in crate_groups %}
    <section data-toc-section id="section-{{ group.slug }}">
      <h3>{{ group.name }}</h3>
      <p class="group-description">{{ group.description }}</p>
      <table class="full-width">
        <thead>
          <tr>
            <th width="250">Use Case</th>
            <th width="100">Recommendation</th>
            <!-- <th>Latest Version</th> -->
            <!-- <th>Last Updated</th> -->
            <th>Notes</th>
          </tr>
        </thead>
        {% for purpose in group.purposes %}
          <tbody>
            {% for crate in purpose.crates %}
              <tr>
                {% if loop.index0 == 0 %}<td rowspan="{{ purpose.crates | length }} ">{{ purpose.name }}</td>{% endif %}
                <td><a href="https://docs.rs/{{ crate.name }}">{{ crate.name }}</a></td>
                <!-- <td>0.8.5</td> -->
                <!-- <td>5 days ago</td> -->
                <td class="crate-notes">{{ crate.notes }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </section>
    {% endfor %}
  </div>
</div>

{% endblock main %}

{% block footer %}
<script>
  window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');
        console.log(id, entry.intersectionRatio);
        if (entry.intersectionRatio > 0) {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.add('active');
        } else {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.remove('active');
        }
      });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[data-toc-section]').forEach((section) => {
      observer.observe(section);
    });
    
  });
</script>
{% endblock footer %}
