{% extends "base.html" %}
{% import "macros/toc.html" as toc %}
{% block title %}Crate List{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block main %}

<div class="hflex">

  <!-- Table of contents -->
  {{ toc::left_sidebar(sections=toc_sections) }}

  <!-- Main page content -->
  <div id="content">

<!--     <p class="introduction">
      Many programming langauges (such as Python and Go) take a "kitchen sink" approach to their standard libraries, including functionality
      like regular expressions, random number generation, serialization (JSON, XML, etc), and HTTP clients and servers directly in the stdlib.
    </p> -->

    <h3>What is blessed.rs?</h3>
    <p class="introduction">
      Compared to other programming languages such as Python and Go, Rust's standard library is very small, including only core data structures in the standard library with all other functionality farmed out to 3rd party ecosystem crates, and a common complaint from new Rust developers is that they don't know where to start: which crates they ought to use and which crates they ought to trust.
    </p>

    <p class="introduction">
      This list attempts to answer those questions.
    </p>

    {% for group in crate_groups %}
    <section data-toc-section id="section-{{ group.slug }}">
      <h3>{{ group.name }}</h3>
      <p class="group-description">{{ group.description | safe }}</p>
      {% for subgroup in group.subgroups %}
      <section data-toc-section id="section-{{ group.slug }}-subsection-{{ subgroup.slug }}">
        <h4>{{ subgroup.name }}</h4>
        <p class="group-description">{{ subgroup.description | safe }}</p>
        <table class="full-width">
          <thead>
            <tr>
              <th width="250">Use Case</th>
              <th width="100">Recommendation</th>
              <!-- <th>Latest Version</th> -->
              <!-- <th>Last Updated</th> -->
              <th>Notes</th>
            </tr>
          </thead>
          {% for purpose in subgroup.purposes %}
            <tbody>
              {% for crate in purpose.crates %}
                <tr>
                  {% if loop.index0 == 0 %}<td rowspan="{{ purpose.crates | length }} ">{{ purpose.name }}</td>{% endif %}
                  <td><a href="https://docs.rs/{{ crate.name }}">{{ crate.name }}</a></td>
                  <!-- <td>0.8.5</td> -->
                  <!-- <td>5 days ago</td> -->
                  <td class="crate-notes">{{ crate.notes | safe }}</td>
                </tr>
              {% endfor %}
            </tbody>
          {% endfor %}
        </table>
      </section>
      {% endfor %}
    </section>
    {% endfor %}
  </div>
</div>

{% endblock main %}
