{% extends "base.html" %}
{% block title %}Crate List{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block content %}
<center>
  <h1 class="logo">Blessed.rs</h1>
</center>

<h3>Core Crates</h3>
<table class="full-width">
  <thead>
    <tr>
      <th width="200">Use Case</th>
      <th>Recommendation</th>
      <!-- <th>Latest Version</th> -->
      <!-- <th>Last Updated</th> -->
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Random Numbers</td>
      <td><a href="https://docs.rs/rand">rand</a></td>
      <!-- <td>0.8.5</td> -->
      <!-- <td>5 days ago</td> -->
      <td>De facto random number generation library split out from the standard library</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td rowspan="2" style="vertical-align: top">Lazily initialized static variables</td>
      <td><a href="https://docs.rs/once_cell">once_cell</a></td>
      <!-- <td>0.8.5</td> -->
      <!-- <td>5 days ago</td> -->
      <td>Newer crate with more ergonomic API. On track to be incorporated into the standard library. Should be preferred for all new projects.</td>
    </tr>
    <tr>
      <td><a href="https://docs.rs/lazy_static">lazy_static</a></td>
      <!-- <td>0.8.5</td> -->
      <!-- <td>5 days ago</td> -->
      <td>De facto random number generation library split out from the standard library</td>
    </tr>
  </tbody>
</table>
{% endblock content %}