{% extends "base.html" %}
{% block title %}Crate List{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block content %}
<center>
  <h1 class="logo">Blessed.rs</h1>
</center>

{% for group in crate_groups %}

  <h3>{{ group.name }}</h3>
  <p class="group-description">{{ group.description }}</p>
  <table class="full-width">
    <thead>
      <tr>
        <th width="200">Use Case</th>
        <th>Recommendation</th>
        <!-- <th>Latest Version</th> -->
        <!-- <th>Last Updated</th> -->
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for purpose in group.purposes %}
        {% for crate in purpose.crates %}
          <tr>
            {% if loop.index0 == 0 %}<td rowspan="{{ purpose.crates | length }} ">{{ purpose.name }}</td>{% endif %}
            <td><a href="https://docs.rs/{{ crate.name }}">{{ crate.name }}</a></td>
            <!-- <td>0.8.5</td> -->
            <!-- <td>5 days ago</td> -->
            <td>{{ crate.notes }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% endblock content %}