{% macro crate_table(purposes) %}
 <table class="full-width fixed-layout">
  <thead>
    <tr>
      <th class="use-case-column">Use Case</th>
      <!-- <th width="100">Recommendation</th> -->
      <!-- <th>Latest Version</th> -->
      <!-- <th>Last Updated</th> -->
      <!-- <th>Notes</th> -->
      <th>Recommended Crates</th>
    </tr>
  </thead>
  {% for purpose in purposes %}
    <tbody>
      <!--{% for crate in purpose.recommendations %}
        <tr>
          {% if loop.index0 == 0 %}<td rowspan="{{ purpose.recommendations | length }} ">{{ purpose.name }}</td>{% endif %}
          <td><a href="https://docs.rs/{{ crate.name }}">{{ crate.name }}</a></td>
          <td class="crate-notes">{{ crate.notes | safe }}</td>
        </tr>
      {% endfor %} -->
      <tr>
        <td>{{ purpose.name }}</td>
        <td>
          <!-- <ul> -->
          {% if purpose.notes %}
            <p style="margin: 3px 6px 6px 6px;font-style: italic;color: #666">{{ purpose.notes | safe }}</p>
          {% endif %}

          {% for crate in purpose.recommendations %}
            <p style="margin: 3px 6px;max-width: 600px">
              <b><a target="_blank" style="text-decoration: underline" href="{% if crate.link %}{{ crate.link }}{% else %}https://lib.rs/crates/{{ crate.name }}{% endif %}">{{ crate.name }}</a></b>{% if not crate.link %}
                <a target="_blank" style="margin-left: 3px;opacity: 0.7;color: #333;" href="https://docs.rs/{{ crate.name }}"> [docs]</a>
              {% endif %}
              <br />
              {% if crate.notes %}{{ crate.notes | safe }}{% endif %}
            </p>
          {% endfor %}

          {% if purpose.see_also %}
            <details style="margin-top: 6px">
              <summary style="cursor: pointer"><b><i>See also</i></b> <span style="color: #999">(click to open)</span></summary>
              {% for crate in purpose.see_also %}
                <p style="margin: 3px 6px;max-width: 600px">
                  <b><a target="_blank" style="text-decoration: underline" href="{% if crate.link %}{{ crate.link }}{% else %}https://lib.rs/{{ crate.name }}{% endif %}">{{ crate.name }}</a></b>{% if not crate.link %}
                    <a target="_blank" style="margin-left: 3px;opacity: 0.7;color: #333" href="https://docs.rs/{{ crate.name }}"> [docs]</a>
                  {% endif %}
                  <br />
                  {% if crate.notes %}{{ crate.notes | safe }}{% endif %}
                </p>
              {% endfor %}
            </details>
          {% endif %}
          <!-- </ul> -->
        </td>
      </tr>
    </tbody>
  {% endfor %}
</table>
{% endmacro crate_table %}
