{% macro raw(sections) %}
<div class="toc">
  <h3>Sections</h3>
  <ul>
    {% for section in sections %}
      <li data-toc-link="section-{{ section.slug }}">
        <a href="#section-{{ section.slug }}">{{ section.name }}</a>
        {% if section.subsections | length > 0 %}
          <ul class="subtoc">
            {% for subsection in section.subsections %}
              <li data-toc-link="section-{{ section.slug }}-subsection-{{ subsection.slug }}">
                <a href="#section-{{ section.slug }}-subsection-{{ subsection.slug }}">{{ subsection.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');
        if (entry.intersectionRatio > 0) {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.add('active');
        } else {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.remove('active');
        }
      });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[data-toc-section]').forEach((section) => {
      observer.observe(section);
    });
    
  });
</script>
{% endmacro raw %}

{% macro left_sidebar(sections=false) %}
    {% if sections %}
    <div id="left-sidebar">
      {{ self::raw(sections=sections) }}
    </div>
  {% endif %}
{% endmacro left_sidebar %}