<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock title %} - Blessed.rs</title>

        <link rel="stylesheet" href="/static/normalize.css" />
        <link rel="stylesheet" href="/static/index.css?{{ get_index_css_hash() }}" />
        <link rel="stylesheet" href="/static/fira-sans.css" />
        <link rel="stylesheet" href="/static/github-fork-ribbon.css" />
        <style type="text/css">.github-fork-ribbon:before { background-color: #333; }</style>

        {% block head %}{% endblock head %}
    </head>
    <body>
        <a class="github-fork-ribbon" href="https://github.com/nicoburns/blessed-rs" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <div id="header">
            <a href="/"><img class="logo" src="/static/rust-logo-black.svg" /></a>
            <div class="page-heading-group">
                <h1 class="page-heading">Blessed.rs</h1>
                <h2 class="page-subheading">An unofficial guide to the Rust ecosystem</h2>
            </div>
        </div>
        <nav>
            <a href="/crates">Crate Directory</a> |
            <!--<a href="/getting-started">Getting Started</a> |-->
            <a href="/learning-resources">Learning Resources</a>
            <!--<a href="/about" target="_blank">About</a> |-->
        </nav>
        <!--<div id="see-also-banner">
            See also:
            <a href="https://crates.io" target="_blank">crates.io</a> |
            <a href="https://lib.rs" target="_blank">lib.rs</a> |
            <a href="https://releases.rs" target="_blank">releases.rs</a> |
            <a href="https://diff.rs" target="_blank">diff.rs</a> |
            <a href="https://this-week-in-rust.org/" target="_blank">TWIR</a> |
            <a href="https://old.reddit.com/r/rust" target="_blank">/r/rust</a>
        </div>-->
        <div id="main-container">{% block main %}{% endblock main %}</div>

        {% block footer %}{% endblock footer %}
    </body>
</html>