<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="/static/normalize.css" />
        <link rel="stylesheet" href="/static/index.css?{{ get_index_css_hash() }}" />
        <title>{% block title %}Home{% endblock title %} - Blessed.rs</title>
        {% endblock head %}
    </head>
    <body>
        <div id="header">
            <img class="logo" src="/static/rust-logo-black.svg" />
            <div class="page-heading-group">
                <h1 class="page-heading">Blessed</h1>
                <h2 class="page-subheading">An unofficial guide to the Rust ecosystem</h2>
            </div>
        </div>
        <div id="main-container">{% block main %}{% endblock main %}</div>

        {% block footer %}{% endblock footer %}
    </body>
</html>