{% extends "base.html" %}
{% import "macros/toc.html" as toc %}
{% block title %}Getting Started Guide{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block main %}

<h1>Getting Started Guide</h1>

<p class="introduction">
  This page is aimed at newcomers to Rust.
</p>

<div class="hflex">

  {{ toc::left_sidebar(sections=toc_sections) }}

  <!-- Main page content -->
  <div id="content" style="max-width: 800px;max-width: min(800px, 100%)">

    <section data-toc-section id="section-installation">
      <h3>Installation</h3>
      <p class="group-description"></p>
      <section data-toc-section id="section-installation-subsection-cargo-rustc">
        <h4>Rust Compiler</h4>
        <p>
          The recommended way to install Rust is using <a href="https://rustup.rs/" target="_blank">rustup</a>.
        </p>
        <p>
          Rustup is an official first-party tool which allows you to install and manage versions of rustc (the rust compiler), cargo (the rust build tool), clippy (the rust linter), rustfmt (the rust code formatter) and more. It allows you to easily upgrade to the latest version of rust, and to have multiple versions of Rust concurrently.
        </p>

        <h5>To install Rust using rustup:</h5>
        <ul>
          <li>
            On macOS or Linux, run:<br />
            <code><pre style="margin-left: 24px">curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh</pre></code>
          </li>
          <li>
            On Windows, download and run <a href="https://win.rustup.rs/x86_64">rustup-init.exe</a>
          </li>
        </ul>
        <p>More details and documentation on rustup are available in <a href="https://rust-lang.github.io/rustup/">the rustup book</a>.</p>
        <p style="font-size: 0.8em;">
          It is <strong>not</strong> recommended to install Rust through your distribution package manager. These packages are intended to compile programs packaged by the distribution, not for Rust development, and they are often so outdated that the latest versions of libraries won't compile.
        </p>
      </section>
      <section data-toc-section id="section-installation-subsection-editor-setup">
        <h4>Editor Setup</h4>
      </section>
    </section>

  </div>
</div>

{% endblock main %}

{% block footer %}
<script>
  window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');
        if (entry.intersectionRatio > 0) {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.add('active');
        } else {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.remove('active');
        }
      });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[data-toc-section]').forEach((section) => {
      observer.observe(section);
    });
    
  });
</script>
{% endblock footer %}
