{% extends "base.html" %}
{% import "macros/toc.html" as toc %}
{% block title %}Learning Resources{% endblock title %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}

{% block main %}

<h1>Learning Resources</h1>

<p class="introduction">
  A list of books and other resources from which to learn Rust.
</p>

<div class="hflex">

  {{ toc::left_sidebar(sections=toc_sections) }}

  <!-- Main page content -->
  <div id="content" style="max-width: 800px;max-width: min(800px, 100%)">

    <section data-toc-section id="section-books">
      <h3>Books</h3>
      <p class="group-description"></p>

      <section data-toc-section id="section-books-subsection-introductory-books">
        <h4>Introductory Books</h4>
        <ul>
          <li>
            <b><a href="https://doc.rust-lang.org/book/">The Rust Programming Language</a></b>
            The official rust-lang book. Aimed at those with experience in another programming language but not
            necessarily a low-level one. This is also the best option if you are trying to learn Rust as your first programming language. Freely available online (a print version is also available)
          </li>
          <li>
            <b><a href="https://www.oreilly.com/library/view/programming-rust-2nd/9781492052586/">Programming Rust</a></b>
            Another book aimed at those with experience in another programming language, but not
            necessarily a low-level one. While the official book above has a stellar reputation, this one has a reputation for being even better,
            diving deeper and giving a more thorough introduction to the language. The downside being it's not free.
          </li>
          <li>
            <b><a href="https://freddiehaddad.github.io/fast-track-to-rust/">Fast Track to Rust</a></b>
             Introduces you to the Rust programming language by building a grep-like program with a minimal subset of the features found in the GNU grep utility. Freely available online.
          </li>
          <li>
            <b><a href="https://www.zero2prod.com/">Zero To Production In Rust</a></b>
            Aimed at developers with a background in backend web development. Starts with the basics of setting up a development environment, and takes the reader all the way through to creating a robust production-ready web service.
          </li>
          <li>
            <b><a href="https://www.rustinaction.com/">Rust In Action</a></b>
            This one has a slightly different focus, and is more suited to the more experienced developer with some grasp of CS theory, or those coming from a background in C or C++. It takes the reader through some relatively advanced projects including a CPU emulator, database, and an OS kernel.
          </li>
          
        </ul>

      </section>

      <section data-toc-section id="section-books-subsection-advanced-books">
        <h4>Advanced Books</h4>
        <ul>
          <li>
            <b><a href="https://nostarch.com/rust-rustaceans">Rust For Rustaceans</a></b>
            A more advanced book that dives into some of the more involved parts of Rust. Not suitable for a complete beginner (even if they have experience in other languages). Best read after you have already learnt some basic Rust through one or more of the other resources.
          </li>
          <li>
            <b><a href="https://rust-unofficial.github.io/too-many-lists/">Learn Rust With Entirely Too Many Linked Lists</a></b>
            Note: Linked lists are not a beginner topic in Rust (even for those with extensive C experience). But if you're comfortable writing Rust on an everyday basis and want to really level up, then this is a fantastic hands-on way to do that.
          </li>
          <li>
            <b><a href="https://veykril.github.io/tlborm/">The Little Book of Rust Macros</a></b>
            A deep-dive into writing macros in Rust. The focus is on `macro_rules` macros. But there is also some content on procedural macros.
          </li>
        </ul>

      </section>
    </section>
    <section data-toc-section id="section-other">
      <h3>Other</h3>
      <p class="group-description"></p>

      <section data-toc-section id="section-other-subsection-learning-by-doing">
        <h4>Learning by doing</h4>
        <ul>
          <li>
            <b><a href="https://github.com/rust-lang/rustlings">Rustlings</a></b>
            Small exercises to get you used to reading and writing Rust code, including reading and responding to compiler error messages.
          </li>
          <li>
            <b><a href="https://doc.rust-lang.org/rust-by-example/">Rust By Example</a></b>
            Learn rust features with small, targeted examples. Starting with "hello world" and moving up to more complex features like traits and generics.
          </li>
        </ul>
      </section>

      <section data-toc-section id="section-other-subsection-videos">
        <h4>Videos</h4>
        <ul>
          <li>
            <b><a href="https://www.youtube.com/playlist?list=PLqbS7AVVErFiWDOAVrPt7aYmnuuOLYvOa">Crust of Rust</a></b>
            Intermediate level videos that explorer Rust by diving into real examples and working code, often by re-implementing functionality from the standard library. These episodes are not targeted at newcomers to Rust, but at those who have read The Book and have the theoretical knowledge, but want to see how these concepts translate into real use.
          </li>
        </ul>

      </section>

    </section>

  </div>
</div>

{% endblock main %}

{% block footer %}
<script>
  window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');
        if (entry.intersectionRatio > 0) {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.add('active');
        } else {
          document.querySelector(`li[data-toc-link="${id}"]`).classList.remove('active');
        }
      });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[data-toc-section]').forEach((section) => {
      observer.observe(section);
    });
    
  });
</script>
{% endblock footer %}
